<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header_wide') %>

<body>
    <table style="width: 80%; text-align: left; margin-left: auto; margin-right: auto;" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td style="width: 50%;">
                    <h1>TV Shows</h1>
                </td>
                <td style="width: 25%;">

                </td>
                <td style="width: 25%; text-align: center"><button onclick="location.href='/new_show'" class="new">Add new Show</button></td>
            </tr>
        </tbody>
    </table>

    <table style="width: 80%; text-align: center; margin-left: auto; margin-right: auto;" cellpadding="2"
        cellspacing="2">
        <tbody>
            <tr>
                <td style="width: 50%;">
                    <h2>Title</h2>
                </td>
                <td style="width: 25%;">
                    <h2>Next Episode</h2>
                </td>
                <td style="width: 25%;"></td>
            </tr>
        </tbody>
    </table>

    <table style="width: 80%; text-align: left; margin-left: auto; margin-right: auto;" border="1" cellpadding="2"
        cellspacing="2">
        <tbody>
            
            <% showlist.forEach(function(show){ %>
                <tr style="height: 50px;">
                    <td style="width: 50%; text-align: center;">
                        <a href="/show/<%= show._id %>"><%= show.title %></a>
                    </td>
                    <td style="width: 25%; text-align: center;">n/a</td>
                    <td style="width: 25%; text-align: center"><button onclick="location.href='/show/friends/s01e03/mark'" class="seen">Mark as Seen</button></td>
                </tr>
            <% }); %>
                
        </tbody>
    </table>
</body>

</html>