<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header_narrow') %>

<body>
    <table style="width: 40%; text-align: left; margin-left: auto; margin-right: auto;" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td>
                    <h1>
                        New Show
                    </h1>
                </td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right;">
                    Title:
                </td>
                <td>
                    <input type="text";>
                    <button onclick="location.href='/'" class="save">Save</button>
                </td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right;">
                    Description:
                </td>
                <td>
                    <input type="text";>
                    <button onclick="location.href='/'" class="cancel">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>